*{
  box-sizing: border-box;
}
.body{
  height: 100vh;
  background-color: #f9fbfd;
}

.admin-card{
  height: 200px;
  width: 300px;
  background-color: fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: black;
  padding: 20px;
}
.bttn{
background-color: #4b0dba;
color: #fff;
}
.zen-logo{
  height: 70px;
  width: 80px;
  margin: 30px;
}
.left-register{
  width: 50%;
  padding: 20px;
}
.right-register{
  width: 40%;
  padding-right: 50px;
}
.register-image{
  height: 400px;
  width: 600px;
}
.btn-color{
  background-color: #4b0dba;
  width: 100%;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 20px;
}
.form-size{
 margin-top: 50px;
  padding-left: 250px;
  padding-right: 250px;

}
.login-image{
  height: 100vh;
}
.hover{
  opacity: 0.6;
}
.hover:hover{
  cursor: pointer;
}
.register-heading{
  margin-right: 250px;
  color:#4b0dba;
}
.list-width{
  width: 70px;
  height: auto;
  background-color: #fff;
  padding-left: 22px;
  overflow-x: hidden;
  position:fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(80, 17, 217, 0.22) 0px 10px 10px;
}
.list-width:hover{
  width: 220px;
 transition: 0.4s ease-in-out;
overflow-y: auto;

}
.listname{
height: 30px;
align-items: center;
margin-top: 30px;
color: black;
font-size: 15px;
list-style-type: none;


}
.listname:hover{
 font-size: 18px;
 transition: 0.2s ease-in-out;
 cursor: pointer;
}
.icon{
  height: 30px;
  width: 30px;
}
.dash-logo{
  height: 50px;
  align-items: center;
  overflow: hidden;
  margin-top:20px ;
  margin-left: -17px;
  font-size: 20px;
}
.zen-logo-dash{
height: 50px;
width: 60px;
}
.classes-left{
  height: 500px;
  background-color: #4b0dba;
  color: #fff;
  width: 70%;
}
.classes-right{
  height: 500px;
  background-color:#4b0dba;
  color: #fff;
  width: 30%;
}
.item-width{
  width: 100%;
  margin-left: 80px;
}
.session-button{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: transparent;
  margin: 10px;
}
.studentdashboard{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.task{
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
width:68%;
border-radius: 10px;
}
.taskinput{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color:whitesmoke;
}
.webcodeinput{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.webcode{
  width: 100%;
}
.webcode-right{
    background-color: #4b0dba;
    width: 90%;
color: #fff;
padding: 20px;
border-radius: 10px;
}
.taskbutton{
  background-color: #4b0dba;
  padding: 7px 30px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  border: transparent;
}
.position{
  margin-left: 80px;
}
.profile-logo{
  width: 100px;
  background-color:#fff;
  font-size: 15px;
  padding: 5px;
  transition: .3s ease-in-out;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  margin-left: 50px;
  margin-right: 10px;
}
span :hover{
  cursor: pointer;
}
.heading-input{
  width: 100%;
  border: #fff;
}

.marks{
  width: 150px; 
}
.marks-btn{
  width: 150px;
}
.markinput{
  padding: 3px;
  width: 140px;
  border-radius: 10px;
  background-color: rgb(238, 230, 219);
}
.markbutton{
border: transparent;
border-radius: 10px;
margin-top: 3px;
}
.content{
  width:500px
}
.portfolio{
  width: 60%;
}



